/* Put fonts in same folder as this stylesheet */



@font-face {
    font-family: 'latin_modern_mono_caps10Rg';
    src: url('../fonts/lmmonocaps10-regular-webfont.woff2') format('woff2'),
         url('../fonts/lmmonocaps10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
