/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 80px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'latin_modern_mono_caps10Rg', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: justify;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Antihero Section
----------------*/

.antihero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.antihero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #2196F3;
	z-index: -1;
}

.antihero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.antihero h1{
	font: bold 40px 'latin_modern_mono_caps10Rg', sans-serif;
	margin-bottom: 15px;
}

.antihero h3{
	font: normal 28px 'latin_modern_mono_caps10Rg', sans-serif;
	margin-bottom: 30px;
}

@media (max-width: 800px){

	.antihero{
		min-height: 600px;
	}

	.antihero h1{
		font-size: 32px;
	}

	.antihero h3{
		font-size: 24px;
	}

}



/*--------------------
 	Bad Work Section
---------------------*/

.bad-work{
	background-color: #fff;
}

.bad-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.bad-work .grid li.small{
	flex-basis: 40%;
}

.bad-work .grid li.large{
	flex-basis: 60%;
}


@media (max-width: 1000px){

	.bad-work .grid li.small,
	.bad-work .grid li.large{
		flex-basis: 100%;
	}

}



/*----------------------
 	Questions Section
----------------------*/

.questions{
	background-color: #f7f7f7;
}

.questions .grid li{
	padding: 0 10px;
	flex-basis: 33%;
	text-align: center;
}

.questions .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.questions .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.questions .grid li p{
    margin: 0;
		font-size: 14px;
		margin-bottom: 25px;
}

@media (max-width: 1000px){

	.questions .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.questions .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.questions .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Call Section
--------------------*/

.call{
	background-color: #fff;
}

.call .sub{
	text-align: center;
	width: 80%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

@media (max-width: 1000px){

	.call .sub{
		font-size: 20px;
	}

}



/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form .btn{
	padding: 18px 42px;
}

table.gridtable {
	font-family: sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 18px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
	vertical-align: middle;
	line-height: 80px;
}

footer h3{
	margin-bottom: 35px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
